#root {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: black;
  color: white;
  font-family: Times, "Times New Roman", Georgia, serif;
}

nav{
  height: 10vh;
}

.container-while{
  background-color: white;
  
}
