.calculator {
  width: 200px;
  margin: 50px auto;
  border: 2px solid black;
  padding: 20px;
}

.screen {
  height: 50px;
  background: #eee;
  text-align: right;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

button {
  width: 45px;
  height: 45px;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
}
